<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>George Tackie</title>
    <!-- Icon link for the tab -->
    <link rel="icon" href="/images/comp-icon.png" />  <!-- using the image in the scaled images folder -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UpdatedPortfolio.styles.css" asp-append-version="true" />
</head>
<body style="background-color:black"> <!-- used css to make the whole layout page have a black background -->
    <!-- Background image for header section -->
    <header>
        <img src="/images/me.png" class="profile-img"/>   <!-- using the image in the scaled images folder -->
        <div class="text-box1">
                <h1>GEORGE TACKIE</h1>
                <h3>ASPIRING FULL STACK .NET DEVELOPER</h3>
                <a class="btn1" href="#About">VIEW CONTENT</a> <!-- button to view the about section on page -->
        </div>
    </header>
    <!-- Container for all pages of the main body -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody() <!-- renders the pages: only index page-->
        </main>
    </div>
    <!-- Container for the footer -->
    <footer class="border-top footer text-muted" style="background-color:white !important">
        <div class="container">
            &copy; 2022 - George Tackie
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>